    <div class="container">
        <div class="row">
            <div class="col-md-1">
                <label for="name">Name:</label>
            </div>
            <div class="col-md-11">
                <input type="text" name="name" [(ngModel)]="userName" id="name">
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <label for="age">Age:</label>
            </div>
            <div class="col-md-11">
                <input type="number"  [(ngModel)]="age" name="age">
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <label for="dob">DOB:</label>
            </div>
            <div class="col-md-11">
                <input type="date"  [(ngModel)]="dob" name="dob">
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <button class="btn btn-primary" (click)="addClick()" name="add">Add</button>
            </div>
        </div>

    </div>

    <router-outlet></router-outlet>