<input type="radio" name="color" [(ngModel)]="rxjsOperatorType" (change)="onRxjsOperatorChange($event)" value=""> Default

<input type="radio" name="color" [(ngModel)]="rxjsOperatorType" (change)="onRxjsOperatorChange($event)" value="mergeMap"> MergeMap
<input type="radio" name="color" [(ngModel)]="rxjsOperatorType" (change)="onRxjsOperatorChange($event)" value="concatMap"> ConcatMap
<input type="radio" name="color" [(ngModel)]="rxjsOperatorType" (change)="onRxjsOperatorChange($event)" value="switchMap"> SwitchMap
<input type="radio" name="color" [(ngModel)]="rxjsOperatorType" (change)="onRxjsOperatorChange($event)" value="exhaustMap"> ExhaustMap
<br>


<button type="button"(click)="fireEvent()">Submit</button>

<!-- <input [(ngModel)]="inputValue" (ngModelChange)="onSearchInputChange($event)" />
<hr>
<ng-container *ngIf="people$ | async as people; else loading">
    Results for "{{ debouncedInputValue }}":
    <div *ngFor="let person of people">{{ person}}</div>
</ng-container>
<ng-template #loading>
    loading...
</ng-template> -->


<input type="search" [(ngModel)]="searchString" (ngModelChange)="onSearchStringChange($event)" />

