<div class="container">
  <form class="myForm" #form="ngForm">
    <div class="form-group">
      <label for="email">Email</label>
      <input class="form-control input-lg" [(ngModel)]="userEmail" type="email" name="email" id="email"
        placeholder="email" required />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input class="form-control input-lg" [(ngModel)]="userPassword" type="password" name="password" minlength="6"
        placeholder="password" required />
    </div>
    <div class="form-group">
      <input type="submit" name="submit" [disabled]="!form.valid" (click)="onSignIn()" class="btn btn-success btn-lg"
        value="Sign In" />
        <input type="submit" name="submit" [disabled]="!form.valid" (click)="onSignUp()" class="btn btn-primary btn-lg"
        value="Sign Up" />
    </div>
  </form>
</div>